.zr-post-view-count {
    display: flex;
    flex-direction: column;
    border: solid 8px #e9e9e9;
    box-shadow: 0 0 27px -20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.zr-post-view-count h3, .zr-post-view-count p, .zr-post-view-count h5 {
    margin: 0;
}

.zr-post-view-count p {
    font-size: 25px;
}

.zr-post-view-count h3 {
    font-weight: 700;
}

.zr-post-view-count-sub-heading {
    margin-bottom: 10px !important;
    font-weight: 600;
    margin-top: 4px !important;
}

.zr-post-view-count:after {
    content: "";
    width: 500px;
    height: 300px;
    background: #2675f1;
    transform: rotate(45deg);
    position: absolute;
    left: -138px;
    bottom: -55px;
    opacity: 0.3;
}

.zr-post-view-count-number.example {
    font-size: 15px;
}

.zr-post-view-count.post-id-missing {
    background: #ffb9b9;
}